name: tradeflow docker build

on:
    push:
        branches:
            - main
jobs:
    build:
        runs-on: ubuntu
        steps:
            - name: checkout source
              uses: actions/checkout@v4

            - name: Deploy directly injecting secrets into shell
              env:
                  BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
                  kalshi_events_API: ${{ secrets.kalshi_events_API }}
                  poly_events_API: ${{ secrets.poly_events_API }}
                  poly_trades_API: ${{ secrets.poly_trades_API }}
                  poly_walletProfile_API: ${{ secrets.poly_walletProfile_API }}
                  kalshi_trades_API: ${{ secrets.kalshi_trades_API }}
              run: |
                  docker compose build
                  docker compose up -d

#############
